.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-color: brown;
}
.child {
  width: 50%;
  height: 50%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
